{% extends 'base.html.twig' %}

{% block title %}About | MVC Course{% endblock %}

{% block body %}
    <h1>About the MVC Course</h1>
    
    <div class="two-column">
        <div class="column">
            <h2>What's this course about anyway?</h2>
            <p>
                So this MVC (Model-View-Controller) course is basically teaching us how to build websites that 
                don't turn into a complete mess as they grow. Trust me, I've built enough spaghetti code to 
                know why this matters!
            </p>
            
            <p>
                We're learning about:
            </p>
            
            <ul>
                <li>Object-oriented PHP (which is actually pretty cool once it clicks)</li>
                <li>Working with the Symfony framework (so many files!)</li>
                <li>The MVC pattern (separating concerns so your code doesn't become a disaster)</li>
                <li>Twig templates (actually nicer than mixing PHP and HTML)</li>
                <li>Databases (because data has to live somewhere)</li>
                <li>Building APIs (my first step toward world domination)</li>
            </ul>
        </div>
        
        <div class="column">
            <img src="img/mvc-diagram.jpg" alt="MVC" class="about-image">
            
            <h3>Useful Links</h3>
            <ul>
                <li><a href="https://github.com/dbwebb-se/mvc" target="_blank">Course GitHub Repo (the official one)</a></li>
                <li><a href="https://github.com/Haniawatah/mvc-me-report" target="_blank">My GitHub Repo (the work-in-progress one)</a></li>
                <li><a href="https://dbwebb.se/kurser/mvc-v2" target="_blank">Course Website (lots of reading here)</a></li>
            </ul>
        </div>
    </div>
{% endblock %}