<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Set the RewriteBase to match your installation path
    RewriteBase /~maix24/dbwebb-kurser/mvc/me/report/public/

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect to URI without front controller to prevent duplicate content
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested resource doesn't exist, use index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, redirect to index.php
        RedirectMatch 302 ^/$ /~maix24/dbwebb-kurser/mvc/me/report/public/index.php/
    </IfModule>
</IfModule>