{% extends 'base.html.twig' %}

{% block title %}Card Game | MVC Course{% endblock %}

{% block body %}
    <h1>Card Game</h1>
    
    <div class="action-links">
        <a href="{{ path('card_deck') }}" class="btn">Show Deck</a>
        <a href="{{ path('card_shuffle') }}" class="btn">Shuffle Deck</a>
        <a href="{{ path('card_draw') }}" class="btn">Draw Card</a>
        <a href="{{ path('card_draw_multiple', {number: 5}) }}" class="btn">Draw 5 Cards</a>
    </div>
    
    <h2>Class Diagram</h2>
    <div class="uml-diagram">
        <img src="/img/card-uml-diagram.png" alt="Card Classes UML Diagram">
    </div>
{% endblock %}